<template name="map">
    <div class="map-container" style="width: 100%; max-width: 100%; height: 500px;">
        {{> googleMap name="mymap" options=mapOptions}}
    </div>
        {{> first googleMap}}
</template>

<template name="first">
    <div>
        {{profile}}
        <br/>
        first hello world
    </div>
</template>


<!--Want to put Center Map component in separate template-->
<template name="CenterMapComponent">
    <div id="controlDiv">
        <div id="controlUI" style="...">
            <div id="controlText" style="...">
                Center Map
            </div>
        </div>
    </div>
</template>
